<!DOCTYPE html>
<html lang="en">

<head>
	<%- include("./partials/header.ejs")%>
</head>

<body>
	<form action="/productos/actualizar/<%= producto.id %>?_method=PUT" method="post">
		<div class="modal" id="editModal">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title">Editar Producto</h5>
						<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					</div>
					<div class="mb-3">
						<input class="form-control form-control-color" name="nombre" type="text" id="nombre" placeholder="Nombre"
							value="<%= producto.nombre %>" />
						<input class="form-control form-control-color" name="precio" type="number" id="precio" placeholder="Precio"
							value="<%= producto.precio %>" />
						<input class="form-control form-control-color" name="stock" type="number" id="stock" placeholder="Stock"
							value="<%= producto.stock %>" />
						<textarea class="form-control form-control-color" rows="4" name="descripcion" id="descripcion"
							placeholder="Descripción del Producto"><%= producto.descripcion %></textarea>
						<input class="form-control form-control-color" type="url" id="imagen" name="imagen" placeholder="Imagen"
							value="<%= producto.imagen %>" />
					</div>
					<div class="mb-3">
						<button type="submit" class="btn btn-primary">Aceptar</button>
						<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
							Cancelar
						</button>
					</div>
				</div>
			</div>
		</div>
	</form>
	<script src="/public/js/bootstrap.bundle.min.js"></script>
</body>

</html>